{%extends 'partials/base.html'%}
{%load static%}
    {%block content%}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png'%}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <a class="tags__tag" href="{% url 'search' %}?search_text=Nebulosa">Nebulosa</a>
                        <a class="tags__tag" href="{% url 'search' %}?search_text=Estrela">Estrela</a>
                        <a class="tags__tag" href="{% url 'search' %}?search_text=Galáxia">Galáxia</a>
                        <a class="tags__tag" href="{% url 'search' %}?search_text=Planeta">Planeta</a>
                        <a class="tags__tag" href="{% url 'search' %}?search_text=Satélites">Satélites</a>
                    </ul>
                </section>
                <section class="galeria">
                    
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                        {%if cards%}
                        {% for image in cards%}
                        
                            <li class="card">
                                <a href="{% url 'image' image.id%}">
                                {%if image.image == '' or image.image == null%}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/image_not_available.png'%}" alt="foto">
                                {%else%}
                                    <img class="card__imagem" src="{{ image.image.url}}" alt="foto">
                                {%endif%}
                                </a>
                                <span class="card__tag">{{image.tag}}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{image.name}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{image.subtitle}}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png'%}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                        
                        {%endfor%}
                        {%else%}
                        <div class="imagem__texto">
                            <p>No Results</p>
                        </div>
                        {%endif%}
                        </ul>
                    </div>
                    
                </section>
            </section>
    
    {%endblock%}
                                 